.objects {
    float: none;
    width: 100%;
    font-size: 25px;
    background: white;
    color: black;
    font-family: consolas;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.result-para-tag {
    box-shadow: 5px 5px 5px grey;
    font-size: 30px;
}

.copyright {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    color: honeydew;
    font-family: consolas;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 130px;
}